/* START TOOLTIP STYLES */

[tooltip] {
  position: relative;
  /* opinion 1 */
}

/* Applies to all tooltips */

[tooltip]::before, [tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: 0.9em;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
  min-width: 3em;
  max-width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: var(--main-color);
  color: #000;
  z-index: 1000;
  /* absurdity 2 */
}

/* Make the tooltips respond to hover */

[tooltip]:hover::before, [tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */

[tooltip=""]::before, [tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */

[tooltip]:not([flow])::before, [tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]:not([flow])::after, [tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before, [tooltip]:not([flow])::after, [tooltip][flow^="up"]::before, [tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before, [tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */

@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */

[tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after, [tooltip][flow^="up"]:hover::before, [tooltip][flow^="up"]:hover::after, [tooltip][flow^="down"]:hover::before, [tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before, [tooltip][flow^="left"]:hover::after, [tooltip][flow^="right"]:hover::before, [tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

.tooltip-icon {
  color: #000;
  /* font-weight: bold; */
  height: 18px;
  width: 18px;
  background-color: #ccc;
  border-radius: 50%;
  line-height: 19px;
  text-align: center;
  font-size: 14px;
  margin: 0 var(--s-margin);
}

/* End tooltips style*/

.close {
  position: absolute;
  z-index: 999999;
  right:  10px;
  top: 15px;
  color: #fff !important;
  cursor: pointer;
  border: 1px solid var(--main-color);
  background: var(--second-color);
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 27px !important;
}

.close:hover {
  opacity: .8;
}

.scaleable {}

.slideable {
  z-index: 4;
  right: -150%;
}

.scaleable {
  z-index: 2;
  right: 0;
  transform: scale(0) !important;
}

.scale {
  transform: scale(1) !important;
}

.slide {
  right: 0 !important;
}

.slide-menu {
  margin-left: -200px;
}

.slide-menu_reverse {
  width: 94% !important;
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}

.marked {
  display: none;
  position: absolute;
  right: 40px;
  top: 0;
  padding: 0 5px;
  cursor: pointer;
  border-bottom-left-radius: var(--scnd-radius);
  border-bottom-right-radius: var(--scnd-radius);
}


.active {
  background-color: rgb(17, 17, 17, 0.7);
  color: #888;
  font-weight: bold;
  border-radius: var(--radius);
}

.activeMenu {
  display: block !important;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.p-absolute {
  position: absolute;
}

.grid {
  display: grid;
}

.g-flow-columns {
  grid-auto-flow: column;
}

.g-two {
  grid-template-columns: repeat(2, 1fr)
}

.g-three {
  grid-template-columns: repeat(3, 1fr);
}

.g-four {
  grid-template-columns: repeat(4, 1fr);
}

.g-five {
  grid-template-columns: repeat(5, 1fr);
}

.g-sex {
  grid-template-columns: repeat(6, 1fr);
}

.flex {
  display: flex;
  align-items: center;
}

.f-center {
  justify-content: center;
}

.f-space-around {
  justify-content: space-around;
}

.f-space-evenly {
  justify-content: space-evenly;
}

.f-space-between {
  justify-content: space-between;
}

.f-start {
  justify-content: flex-start;
}

.f-end {
  justify-content: flex-end;
}

.shadow {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.16), 0 0px 4px rgba(0, 0, 0, 0.23)
}

.shadow-l {
  box-shadow: 2px 4px 8px 0px rgba(181, 181, 181, 0.7), -2px -4px 8px 0px rgba(181, 181, 181, 0.7)
}

.gradient-green {
  background: radial-gradient(circle at 17% 5%, rgba(185, 185, 185, 0.1) 0%, rgba(185, 185, 185, 0.1) 33.333%, rgba(216, 216, 216, 0.1) 33.333%, rgba(216, 216, 216, 0.1) 66.666%, rgba(247, 247, 247, 0.1) 66.666%, rgba(247, 247, 247, 0.1) 99.999%), radial-gradient(circle at 36% 54%, rgba(52, 52, 52, 0.1) 0%, rgba(52, 52, 52, 0.1) 33.333%, rgba(111, 111, 111, 0.1) 33.333%, rgba(111, 111, 111, 0.1) 66.666%, rgba(170, 170, 170, 0.1) 66.666%, rgba(170, 170, 170, 0.1) 99.999%), radial-gradient(circle at 62% 35%, rgba(209, 209, 209, 0.1) 0%, rgba(209, 209, 209, 0.1) 33.333%, rgba(107, 107, 107, 0.1) 33.333%, rgba(107, 107, 107, 0.1) 66.666%, rgba(5, 5, 5, 0.1) 66.666%, rgba(5, 5, 5, 0.1) 99.999%), linear-gradient(45deg, rgb(49, 231, 152), rgb(120, 182, 17)) !important
}

.gradient-darkgreen {
  background: radial-gradient(circle at 72% 83%, rgba(12, 12, 12, 0.04) 0%, rgba(12, 12, 12, 0.04) 50%, rgba(172, 172, 172, 0.04) 50%, rgba(172, 172, 172, 0.04) 100%), radial-gradient(circle at 57% 65%, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 50%, rgba(222, 222, 222, 0.04) 50%, rgba(222, 222, 222, 0.04) 100%), radial-gradient(circle at 64% 31%, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 50%, rgba(191, 191, 191, 0.04) 50%, rgba(191, 191, 191, 0.04) 100%), linear-gradient(130deg, rgb(5, 235, 123), rgb(47, 52, 6)) !important
}

.gradient-blue {
  background: radial-gradient(circle at 85% 40%, rgba(204, 204, 204, 0.08) 0%, rgba(204, 204, 204, 0.08) 33.333%, rgba(188, 188, 188, 0.08) 33.333%, rgba(188, 188, 188, 0.08) 66.666%, rgba(171, 171, 171, 0.08) 66.666%, rgba(171, 171, 171, 0.08) 99.999%), radial-gradient(circle at 27% 80%, rgba(196, 196, 196, 0.08) 0%, rgba(196, 196, 196, 0.08) 33.333%, rgba(115, 115, 115, 0.08) 33.333%, rgba(115, 115, 115, 0.08) 66.666%, rgba(33, 33, 33, 0.08) 66.666%, rgba(33, 33, 33, 0.08) 99.999%), radial-gradient(circle at 95% 54%, rgba(223, 223, 223, 0.08) 0%, rgba(223, 223, 223, 0.08) 33.333%, rgba(168, 168, 168, 0.08) 33.333%, rgba(168, 168, 168, 0.08) 66.666%, rgba(112, 112, 112, 0.08) 66.666%, rgba(112, 112, 112, 0.08) 99.999%), linear-gradient(45deg, rgb(74, 141, 255), rgb(0, 54, 215)) !important
}

.gradient-yellow {
  background: radial-gradient(circle at 11% 62%, rgba(205, 205, 205, 0.04) 0%, rgba(205, 205, 205, 0.04) 50%, rgba(149, 149, 149, 0.04) 50%, rgba(149, 149, 149, 0.04) 100%), radial-gradient(circle at 78% 10%, rgba(49, 49, 49, 0.04) 0%, rgba(49, 49, 49, 0.04) 50%, rgba(254, 254, 254, 0.04) 50%, rgba(254, 254, 254, 0.04) 100%), radial-gradient(circle at 92% 43%, rgba(34, 34, 34, 0.04) 0%, rgba(34, 34, 34, 0.04) 50%, rgba(206, 206, 206, 0.04) 50%, rgba(206, 206, 206, 0.04) 100%), linear-gradient(329deg, rgb(241, 77, 33), rgb(218, 227, 61)) !important
}

.gradient-aqua {
  background: radial-gradient(circle at 71% 88%, rgba(152, 152, 152, 0.04) 0%, rgba(152, 152, 152, 0.04) 50%, rgba(54, 54, 54, 0.04) 50%, rgba(54, 54, 54, 0.04) 100%), radial-gradient(circle at 2% 84%, rgba(224, 224, 224, 0.04) 0%, rgba(224, 224, 224, 0.04) 50%, rgba(146, 146, 146, 0.04) 50%, rgba(146, 146, 146, 0.04) 100%), radial-gradient(circle at 99% 46%, rgba(173, 173, 173, 0.04) 0%, rgba(173, 173, 173, 0.04) 50%, rgba(8, 8, 8, 0.04) 50%, rgba(8, 8, 8, 0.04) 100%), linear-gradient(133deg, rgb(7, 56, 61), rgb(48, 240, 242)) !important
}

.gradient-purpel {
  background: radial-gradient(circle at 8% 56%, rgba(4, 4, 4, 0.06) 0%, rgba(4, 4, 4, 0.06) 33.333%, rgba(119, 119, 119, 0.06) 33.333%, rgba(119, 119, 119, 0.06) 66.666%, rgba(234, 234, 234, 0.06) 66.666%, rgba(234, 234, 234, 0.06) 99.999%), radial-gradient(circle at 41% 77%, rgba(42, 42, 42, 0.06) 0%, rgba(42, 42, 42, 0.06) 33.333%, rgba(148, 148, 148, 0.06) 33.333%, rgba(148, 148, 148, 0.06) 66.666%, rgba(254, 254, 254, 0.06) 66.666%, rgba(254, 254, 254, 0.06) 99.999%), radial-gradient(circle at 77% 5%, rgba(79, 79, 79, 0.06) 0%, rgba(79, 79, 79, 0.06) 33.333%, rgba(88, 88, 88, 0.06) 33.333%, rgba(88, 88, 88, 0.06) 66.666%, rgba(97, 97, 97, 0.06) 66.666%, rgba(97, 97, 97, 0.06) 99.999%), linear-gradient(90deg, rgb(155, 95, 188), rgb(70, 13, 64)) !important
}

.gradient-light {
  background-image: linear-gradient(44deg, rgba(114, 114, 114, 0.02) 0%, rgba(114, 114, 114, 0.02) 86%, transparent 86%, transparent 87%, rgba(147, 147, 147, 0.02) 87%, rgba(147, 147, 147, 0.02) 91%, rgba(63, 63, 63, 0.02) 91%, rgba(63, 63, 63, 0.02) 100%), linear-gradient(78deg, rgba(51, 51, 51, 0.02) 0%, rgba(51, 51, 51, 0.02) 51%, transparent 51%, transparent 74%, rgba(43, 43, 43, 0.02) 74%, rgba(43, 43, 43, 0.02) 94%, rgba(36, 36, 36, 0.02) 94%, rgba(36, 36, 36, 0.02) 100%), linear-gradient(166deg, rgba(152, 152, 152, 0.02) 0%, rgba(152, 152, 152, 0.02) 16%, transparent 16%, transparent 51%, rgba(109, 109, 109, 0.02) 51%, rgba(109, 109, 109, 0.02) 93%, rgba(132, 132, 132, 0.02) 93%, rgba(132, 132, 132, 0.02) 100%), linear-gradient(80deg, rgba(136, 136, 136, 0.02) 0%, rgba(136, 136, 136, 0.02) 28%, transparent 28%, transparent 35%, rgba(226, 226, 226, 0.02) 35%, rgba(226, 226, 226, 0.02) 95%, rgba(171, 171, 171, 0.02) 95%, rgba(171, 171, 171, 0.02) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  /* background-image: linear-gradient(90deg, transparent 0%, transparent 27%,rgba(196, 196, 196,0.05) 27%, rgba(196, 196, 196,0.05) 42%,transparent 42%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 38%,rgba(196, 196, 196,0.05) 38%, rgba(196, 196, 196,0.05) 41%,transparent 41%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 19%,rgba(196, 196, 196,0.05) 19%, rgba(196, 196, 196,0.05) 40%,transparent 40%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); */
}



.alert-warning {
  border-color: #ffdf7f !important;
  color: #9d8029;
}

.alert-success {
  border-color: #63ff75 !important;
  color: #3aa947;
}

.alert-danger {
  border-color: #ff001b !important;
  color: #6e101a;
}

.alert-info {
  border-color: #639eff !important;
  color: #234985;
}

.btn {
  background-color:#000;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: var(--main-color);
  font-size: 15px;
  margin: 0px 4px;
  padding: 0 12px;
  line-height: 13px;
  height: 35px;
  min-width: 85px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn:hover {
  background-color: var(--main-color);
  border: 1px solid #c6c6c6;
  color: #222;
}

.btn-small {
  height: 26px;
  width: 40px;
}

.btn-light {
  background-color: #f9f9f9;
  border-color: #ccc;
}

.btn-info {
  background-image: -webkit-linear-gradient(top, #00d9ff, #03b7ee);
  border-color: #639eff;
}

.btn-danger {
  background-image: -webkit-linear-gradient(top, #ff001b, #ee031b);
  border-color: #ff001b;
  color: white !important;
}

.btn-success {
  background-image: -webkit-linear-gradient(top, #67ff89, #3eec65);
  border-color: #63ff75;
}

.bg-w {
  background-color: white !important;
}

.bg-b {
  background-color: black !important;
}

.bg-dark {
  background-color: #333 !important;
}

.bg-darkgray {
  background-color: #ccc !important;
}

.bg-lightgray {
  background-color: #f9f9f9 !important;
}

.bg-bluegray {
  background-color: #d4dfe3 !important;
}

.bg-main {
  background: var(--main-color);
}

.c-w {
  color: #fff !important;
}

.c-gray {
  color: #ccc !important;
}

.c-b {
  color: #222 !important;
}

.c-r {
  color: #f10000 !important;
}

.c-g {
  color: #00f138 !important;
}

.c-y {
  color: #edf100 !important;
}

.c-main {
  color: var(--main-color) !important;
}

.font-xs {
  font-size: 10px;
}

.font-s {
  font-size: 12px;
}

.font-m {
  font-size: 14px;
}

.font-l {
  font-size: 16px;
}

.font-xl {
  font-size: 22px;
}

.f-center {
  text-align: center;
}

.f-left {
  text-align: left;
}

.f-right {
  text-align: right;
}

.i-bg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 15px;
}

.i-bg-large {
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.i-bg:hover {
  opacity: .7;
}

.p-1 {
  padding: 1px;
}

.p-2 {
  padding: 2px;
}

.p-3 {
  padding: 3px;
}

.p-medium {
  padding: 7px;
}

.p-large {
  padding: 12px;
}

.p-l-1 {
  padding-left: 1px;
}

.p-l-2 {
  padding-left: 2px;
}

.p-l-3 {
  padding-left: 3px;
}

.p-r-1 {
  padding-right: 1px;
}

.p-r-2 {
  padding-right: 2px;
}

.p-r-3 {
  padding-right: 3px;
}

.p-t-1 {
  padding-top: 1px;
}

.p-t-2 {
  padding-top: 2px;
}

.p-t-3 {
  padding-top: 3px;
}

.p-b-1 {
  padding-bottom: 1px;
}

.p-b-2 {
  padding-bottom: 2px;
}

.p-b-3 {
  padding-bottom: 3px;
}

.m-1 {
  margin: 1px;
}

.m-2 {
  margin: 2px;
}

.m-3 {
  margin: 3px;
}

.m-medium {
  margin: 7px;
}

.m-large {
  margin: 12px;
}

.m-l-1 {
  margin-left: 1px;
}

.m-l-2 {
  margin-left: 2px;
}

.m-l-3 {
  margin-left: 3px;
}

.m-r-1 {
  margin-right: 1px;
}

.m-r-2 {
  margin-right: 2px;
}

.m-r-3 {
  margin-right: 3px;
}

.m-t-1 {
  margin-top: 1px;
}

.m-t-2 {
  margin-top: 2px;
}

.m-t-3 {
  margin-top: 3px;
}

.m-b-1 {
  margin-bottom: 1px;
}

.m-b-2 {
  margin-bottom: 2px;
}

.m-b-3 {
  margin-bottom: 3px;
}
.m-auto{
  margin: auto !important;
}

.border-none {
  border: unset
}

.border-1-w {
  border: 1.1px solid #fff;
}

.border-1-g {
  border: 1.1px solid #ccc;
}

.border-1-b {
  border: 1.1px solid #333;
}

.border-b-1-b {
  border-bottom: 1.1px solid #333;
}

.border-b-1-w {
  border-bottom: 1.1px solid #fff;
}

.border-b-1-g {
  border-bottom: 1.1px solid #ccc;
}

.border-r-s {
  border-radius: 2px;
}

.border-r-m {
  border-radius: 4px;
}

.border-r-l {
  border-radius: 6px;
}

.border-r-xl {
  border-radius: 18px;
}

.opacity-5{
  opacity: .5;
}

.custom-label {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
  width: 10px;
}

.cntrLabel {
  text-align: left;
  font-size: 12px;
  width: 50%;
}

.custom-label input:checked+.checkbox {
  border-color: var(--main-color);
}

.custom-label input:checked+.checkbox svg path {
  fill: var(--main-color);
}

.custom-label input:checked+.checkbox svg polyline {
  stroke-dashoffset: 0;
}

.custom-label:hover .checkbox svg path {
  stroke-dashoffset: 0;
}

.custom-label .checkbox {
  position: relative;
  float: left;
  margin-left: var(--s-margin);
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 3px;
}

.custom-label .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.custom-label .checkbox svg path {
  fill: none;
  stroke: var(--main-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}

.custom-label .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}

.custom-label>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cntr.home {
  justify-content: unset;
}

.cntr.home .cntrLabel {
  width: auto
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"]+label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
}

[type="file"]+label:hover {
  background-color: #d3460d;
}

[type="file"]+label.btn-3 {
  /* background-color: var(--second-color); */
  border-radius: var(--scnd-radius);
  overflow: hidden;
}

[type="file"]+label.btn-3 span {
  display: inline-block;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

[type="file"]+label.btn-3::before {
  color: #fff;
  content: "\f382";
  font-family: "Font Awesome 5 Pro";
  font-size: 25px;
  height: 100%;
  left: 0;
  line-height: 2.6;
  position: absolute;
  top: -180%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
}

[type="file"]+label.btn-3:hover {
  background-color: var(--second-color);
}

[type="file"]+label.btn-3:hover img {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}

[type="file"]+label.btn-3:hover::before {
  top: 0;
}

/* Animated Button */


@keyframes tipUp {
  0% {
    transform: translateY(50px) rotateZ(45deg);
  }
  100% {
    transform: translateY(-70px) rotateZ(45deg);
  }
}

@keyframes lineUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-70px);
  }
}


.slither-enter-active, .slither-leave-active {
  transition: transform .4s;
}

.slither-enter, .slither-leave-to {
  transform: translateX(-100%);
}

.slither-enter-to, .slither-leave {
  transform: translateX(0);
}

.slither-enter-active, .slither-leave-active {
  transition: transform .4s;
}

.slither-enter, .slither-leave-to {
  transform: translateX(-100%);
}

.slither-enter-to, .slither-leave {
  transform: translateX(0);
}

.drain-enter-active, .drain-leave-active {
  transition: transform .4s;
}

.drain-enter, .drain-leave-to {
  transform: translateY(100%);
}

.drain-enter-to, .drain-leave {
  transform: translateY(0);
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .slide-menu {
    margin-left: -220px;
  }
  .btn {
    margin: 11px 4px;
    padding: 0 8px;
    line-height: 14px;
  }
  .w-25,.w-50, .w-75{
    width: 100% !important;
  }
}