.parent-card {
  margin: var(--s-margin);
  background-color: #fff;
  position: relative;
  padding: var(--m-padding);
  border-radius: var(--scnd-radius);
  border: 1px solid #eee
  }
  .parent-card h2 {
    color:var(--second-color);
    text-shadow: 0px 0px 4px #ffffff59;
  }

  .parent-card /deep/ input {
    width: 100%;
    height:50px;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #eee;
    background-color: var(--second-color);
    border: none;
    background-clip: padding-box;
    border-radius: var(--scnd-radius);
    -webkit-transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }
  .content{
    grid-auto-rows: minMax(100px,100px);
    grid-gap:25px;
    position: relative;
    width: 100%;
    min-height: 500px;
    margin: var(--s-margin) 0;
    }
  
  .content-item{
    display: grid !important;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: var(--s-padding);
    position: relative;
    cursor: pointer;
    margin: 3px;
    /* grid-auto-rows: 45px 75px; */
    background: #f9f9f9;
    -webkit-box-shadow: var(--shadow2);
    box-shadow: var(--shadow2);
  }
  .content-item_bar{
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
  }
  .content-item_bar span{
    font-size: 12px;
    font-weight: lighter;
    color: #888;
  }
  /* .content-item_body{
    display: flex;
    justify-content: flex-start;
  } */
  .content-item_body_img{
    width: 65px;
    height: 65px;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
  }
  .content-item_body p{
    text-align: left;
    color: var(--second-color);
  }
  .content-item_body p b{
    color: var(--main-color);
  }
  .content-item_body span{
    font-weight: lighter;
    color: #333;
    text-align: left;
  }
  /* .content-item img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto
  } */
  .content-item h6{
    font-size: 22px;
    color: #27a727;
    text-transform: uppercase
  }
  .content-item p{
    font-size: 16px;
  }
  .content-item:hover{
    box-shadow: var(--shadow3);
    border-color: #fff;
  }
  .content-item_head_img{
    height: 80px;
    width: 80px;
  }
  .group-items .items{
    padding: var(--s-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  /* #operations-summary{
    position: fixed;
    bottom: 0;
    right: 0;
    width: inherit;
    background: var(--main-color);
    color: #fff;
    font-weight: bold;
    padding: var(--s-padding);
    display: flex;
    justify-content: space-evenly;
    font-size: 21px;
    z-index: 999999;
  } */
  .slideable,
  .scaleable
    {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #000000e6;
      min-height: 100%;
      box-shadow: var(--shadow);
      padding: var(--m-padding);
      transition: .4s;
    } 
   
  .inside-wrapper{
    width: 80%;
    margin: 15px auto;
    height: 85vh;
    position: relative;
    overflow: scroll;
    box-shadow: var(--shadow2);
    background-color:#fff
  }
  
  .sticky-bar{
    top: -7px;
    min-height: 50px;
    padding: var(--s-padding);
    z-index: 1;
  }
  
    
  .loading{
      display: none;
      height: 80px;
      width: 80px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%)
  }
  .loading-small{
      height: 35px !important;
      width: 35px !important;
  }
  

.reload {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #151d30c2;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    padding: var(--s-padding);
    align-items: flex-start;
    align-content: center;
}
.reload h1{
    color: #fff;
}
.reload p{
    color: var(--main-color);
}



.form-group {
  margin: var(--s-margin) 0;
  position: relative;
  align-items: center;
}

.form-control {
  width: 100%;
  height: 50px;
  padding: .3rem .7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: none;
  background-clip: padding-box;
  border-radius: var(--scnd-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #eee;
}


.message {
  position: fixed !important;
  top: 10%;
  right: 5% !important;
  z-index: 9999999999;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-5%, 0);
  height: 50px;
  min-width: 200px;
  background: #f9f9f9;
  border-radius: var(--scnd-radius);
  padding: 0 var(--s-padding);
  border: 1px solid;
    text-align: center;
    line-height: 50px;
}